body{
    max-width: 900px;
    margin: 0px auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    h1{
    margin: 50px;
    }

    h1{
    text-align: center;
    }


    #container{
    position: relative;
    }

    #sections{
    width: 340px;
    }

    #sections > div{
    background: white;
    opacity: .2;
    margin-bottom: 400px;
    }
    #sections > div:last-child{
    margin-bottom: 400px;
    }
    #sections > div.graph-scroll-active{
    opacity: 1;
    }

    #ukMapDiv{
        margin-left: 40px;
        width: 400px;
        height: 800px;
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        float: right;
    }

    p{
        font-family: 'Roboto Serif', serif;
    }

    #titleSection > h1{
        font-size: 3em;
        line-height: 102%;
        font-family: 'Roboto Serif', serif;
        margin: 25px;
    }

    #titleSection > p{
        text-align: center;
    }

    @media (max-width: 925px)  {
        #ukMapDiv{
            width: 100%;
            margin-left: 0px;
            float: none;
        }

        #sections{
            width: auto;
            position: relative;
            margin: 0px auto;
        }

        #sections > div{
            background: rgba(255,255,255,.5);
            padding: 10px;
            border-top: 1px solid;
            border-bottom: 1px solid;
            margin-bottom: 200px;
        }

        pre{
            overflow: hidden;
        }

        h1{
            margin: 10px;
        }
    }
