/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&family=Raleway:wght@200;300;400;600;700&display=swap');

/* Set the background color for my page: */
body{
    background-color: rgb(255, 255, 255);
    padding-bottom: 500px;
 
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, h2{
    color:rgb(17, 17, 17);
    font-family: 'Raleway', sans-serif;
    /* text-align: center; */
    font-weight: bold;
}

#titleBlock h2{
    font-weight: 600;
    color: rgb(62, 62, 62);
    padding-top: 0px;
    margin-top: 0px;
}

#titleBlock h1{
    padding-bottom: 0px;
    margin-bottom: 10px;
}

p{
    color:rgb(17, 17, 17);
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
    
.weekSection{
    margin: auto;
    max-width: 800px;
    background-color: rgb(255, 255, 255);
}

#container{
    padding-top: 20px;
}

/* Set the apperance of the class, chart */
.chart{
    background-color: white;
    width:100%;
    border-color: rgb(139, 139, 139);
}

#s1{
    width: 50%;
    float: left;
}


#s2{
    width: 50%;
    float: right;
}

#chart1h{
    font-weight:600;
    text-align: left;
}

#chart2h{
    font-weight:600;
    text-align: left;
}

#wk4Chart{
    margin: 0 auto;
}

#wk2Chart{
    margin: 0 auto;
    width:80%;
}

#wk8Chart{
    margin: 0 auto;
    width: 80%;
}

/* Week 5*/

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: auto;
    background-color: lightblue;
  }
  
  .grid > div {
    background-color: lightyellow;
    padding: 0 !important;
  }

  @media (max-width: 600px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

/* Week 8 */
#audioChart{
    width: 80%;
    margin: auto;
    background-color: aliceblue;
}