body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
    background-color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

:root {
    --background-color: rgba(255,255,255, 1);
    --sidebar-width: 200px;
    --hello-title-background: rgba(102,136,195, 1);
    --hello-title-color: white;
    --vis-title-background: rgba(178,93,166, 0);
    --vis-title-color: rgb(178,93,166);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: rgb(34, 34, 34);
}

.sidebar-group{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-top: 30px;
}

/* Hex	RGB
#6688c3	(102,136,195)
#b25da6	(178,93,166)
#48a56a	(72,165,106)
#eaaf41	(234,175,65)
#ce4a4a	(206,74,74) */

.sidebar-group  h3 {
    font-weight: bold;
  margin-bottom: 1px;
  display: inline-block;
  margin-top: 3px;
  font-size: 16px;
  padding: 2px 3px 2px 3px;
  /* all caps */
    text-transform: lowercase;
    border-radius: 2.5px;

}

#hello-sidebar-group h3 {
    background-color: var(--hello-title-background);
    color: var(--hello-title-color);
    border: 1px solid var(--hello-title-background);
}

#vis-sidebar-group h3 {
    background-color: var(--vis-title-background);
    color: var(--vis-title-color);
    border: 1px solid var(--vis-title-color);
}

.sidebar  a {
    text-decoration: none;
    font-weight: 400;
    color: #000;
}

.sidebar-group li {
    list-style-type: circle;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-bottom: 0px;
}

.sidebar {
  flex: 1;
  padding: 20px;
  max-width: 200px;
}

.main-content {
  flex: 3;
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
}

.section-title {
  margin-bottom: 15px;
  font-weight: bold;
}

/* Mobile layout */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: stretch;
  }

  .sidebar,
  .main-content {
    flex: 1 0 100%;
  }
}
